
.table-header{
    background-color: #003775;
    font-weight: bold;
    min-width: 30%;
    max-height: 10vh;
    padding: 0;

}



.pagination{
    margin: 0;
    display: flex;
    width: 100%;
    background-color: #003775;
    align-items: center;
    justify-content: end;
    text-align: center;
    padding: .5rem;
    color: #fff;
}
.css-pdct74-MuiTablePagination-selectLabel{
    color: #fff;
    margin: 0 auto;
}
.css-levciy-MuiTablePagination-displayedRows{
    color: #fff;
    margin: 0 auto;
}

.fadeOut{
    opacity: 0;
    transition: opacity .5s;
}

