.fullWidth {
	width: 100%;
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.responsiveOnMobile {}

ul {
	padding: 0;
}

.product {
	display: flex;
	flex-direction: column;
	align-items: self-start;
}

.product strong,
.product small {
	margin-right: .4em;
}

#prod-table tr {
	cursor: pointer;
	transition: all .2s;
}

#prod-table tbody tr:hover {
	transform: scale(1.01);
	color: #a84c11;
	background-color: rgb(253, 240, 206);

}

#prod-table td {
	display: table-cell;
	text-align: center;
	width: 10%;
	font-weight: bold;
	padding: .4em .2em;
	border-bottom: 1px solid lightgray;

}

#prod-table th {
	text-align: center !important;
	color: #a84c11;
}

#prod-table th:nth-child(1) {
	text-align: left !important;
	padding-left: 1em;

}

#prod-table th:nth-child(2) {
	text-align: center;
	width: 60%;
}

#prod-table td:nth-child(2) {
	text-align: left;
	width: 60%;
	font-weight: normal;
	font-size: small;
}

#prod-table td:nth-child(4),
#prod-table td:nth-child(1) {
	text-align: left !important;

}

.relatorio-control-buttons {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: .5em;
	right: .5em;
}

#abc-prod-table tr {
	cursor: pointer;
	transition: all .2s;
}

#abc-prod-table tbody tr:hover {
	transform: scale(1.01);
	color: #a84c11;
	background-color: rgb(253, 240, 206);

}

#abc-prod-table td {
	display: table-cell;
	text-align: center;
	width: 17.5%;
	padding: .4em .2em;
	border-bottom: 1px solid lightgray;
	font-weight: normal;
	font-size: small;

}

#abc-prod-table th {
	text-align: center !important;
	color: #a84c11;
}

#abc-prod-table th:nth-child(1) {
	text-align: center !important;
	padding-left: 1em;
	width: 5%;

}

#abc-prod-table td:nth-child(1) {
	text-align: center !important;
	width: 5%;

}

#abc-prod-table th:nth-child(6),
#abc-prod-table th:nth-child(7) {
	text-align: center;
	width: 15%;
}

#abc-prod-table td:nth-child(6),
#abc-prod-table td:nth-child(7) {
	text-align: center;
	width: 15%;
	font-weight: bold;
}

#abc-prod-table th:nth-child(2) {
	text-align: center;
	width: 50%;
}
#abc-prod-table td:nth-child(2) {
	text-align: center;
	width:50%;
	font-weight: bold;
	font-size: normal;
}
.sectionTitle {
    text-align: center;
    background-color: #003775;
    color: white;
    padding: 0.2rem 0;
    margin: 0.5rem 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
	.relatorio-control-buttons {
		
	}
}

@media screen and (max-width: 400px) {

	#prod-table .codigoInterno,
	#prod-table .precoCusto {
		display: none;
	}

	#prod-table td:nth-child(2) {
		width: 60%;
	}

	#prod-table td {
		font-size: small;
	}
}